@font-face {
    font-family: 'chantelli_antiqua';
    src: url('./fonts/chantelli_antiqua-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tangerine';
    src: url('./fonts/tangerine_bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    border: 1px solid;
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-around;
    background: red;
}

body {
    height: 100vh;
    background-image: url('./images/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

header div {
    border: 1px solid;
    flex: 1;
}

nav ul {
    border: 1px solid;
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav button {
    
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#home {
    padding: 3rem;
    background-color: white;
    border-radius: 5px;
    max-width: 60%;
    text-align: center;
    opacity: 90%;
}

#home h2, #home p {
    margin-top: 1rem;
    font-weight: normal;
}

footer {
    background-color: red;
}