@font-face {
    font-family: 'eb garamond12';
    src: url('./fonts/ebgaramond12-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway';
    src: url('./fonts/raleway-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('./fonts/raleway-semibold-webfont.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'engry';
    src: url('./fonts/engry-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url('./images/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: 'eb garamond12';
    color: rgb(10, 10, 10);
}




.page {
    word-spacing: .2em;
}

.page-header {
    font-family: 'raleway';
    font-weight: 600;
    text-transform: uppercase;
}

.page-description {
    /* margin-top: 1.5rem; */
    font-size: 1.05rem;
}




header {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: rgba(244, 244, 244, 0.964);
    gap: 1em;
}

.logo-container {
    font-family: 'engry';
    grid-column: 2 / 3;

}

.logo {
    width: max-content;
    margin: 0 auto;
    padding: .4rem 1.4rem;
    color: rgb(235, 188, 57);
    background-color: rgb(10, 10, 10);
    border: 3px solid rgb(235, 188, 57);
    letter-spacing: .1em;
} 

nav {
    grid-column: 3 / 4;
    justify-self: end;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav ul li button {
    font-family: 'raleway';
    padding: .5em;
    cursor: pointer;
    border: none;
    border-bottom: 2px solid rgb(10, 10, 10);
    color: rgb(10, 10, 10);
    font-size: 1.05rem;
}

/* .hamburger-container {
    display: none;

} */
.hamburger {
    /* width: 100px;
    height: 50px; */
    display: none;
    border: none;
}

.hamburger .line {
    height: 5px;
    border: 1px solid;
    width: 40px;
    background: white;
    border-radius: 1rem;
    transition: 0.3s;
}




#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 1rem;
}

#home {
    padding: 3rem;
    background-color: rgba(244, 244, 244, 0.964);
    border-radius: 5px;
    width: 60%;
    max-width: 2000px;
    text-align: center;
    opacity: 90%;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}




footer {
    background-color: rgba(244, 244, 244, 0.964);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices 600px and up */
@media only screen and (min-width: 600px) {

}

/* 585px and below */
@media only screen and (max-width: 585px) {
    nav ul {
        display: none;
    }

    /* .hamburger-container {
        display: unset;
    } */

    .hamburger {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
}

/* 1020px and below */
@media only screen and (max-width: 1020px) {
    .logo {
        font-size: 1.5rem;
    }

    .logo-container {
        grid-column: 1 / 2;
    }

    nav ul li button {
        font-size: 0.9rem;
    }
}

/* Extra large devices 1200px and up */
@media only screen and (min-width: 1200px) {

}